<section class="pt-3 px-8 md:px-16 lg:px-32">
  <h1 class="text-4xl font-semibold my-8">Cancellation policy for land package</h1>
  <p class="text-sm font-mono">Last updated: March 1, 2024</p>
  <p class="text-sm my-4">Please read these policy carefully before using Our Service.</p>
  <ol class="mt-6 space-y-8">
    <li>
      <p>
        <span class="font-semibold">1. Cancellation more than 10 days before the trip:</span> A cancellation fee of 40% of
        the total land package cost will apply.
      </p>
    </li>
    <li>
      <p>
        <span class="font-semibold">2. Cancellation between 30 days and 10 days before the trip:</span> No cancellation
        charges apply.
      </p>
    </li>
  </ol>
</section>