<footer class="section bg-white dark:bg-gray-900 border-t border-gray-200">
    <div class="mx-auto w-full max-w-screen-2xl py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0 w-auto md:w-1/2">
                <a href="https://flowbite.com/" class="flex items-center mb-4">
                    <img src="assets/images/nirveek-logo.jpeg" class="h-8 me-3" alt="FlowBite Logo" />
                    <span class="flex flex-col justify-start">
                        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
                            Nirveek
                        </span>
                        <span
                            class="self-center italic text-xs font-semibold whitespace-nowrap text-gray-600 dark:text-white">
                            Tours & Travels
                        </span>
                    </span>
                </a>
                <p class="w-full md:w-3/4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem
                    doloribus officiis possimus,
                    perspiciatis nulla ut aliquam quisquam dolorem culpa veritatis, maiores molestiae pariatur officia
                    suscipit repellendus consequuntur? Magni, alias. Eaque.</p>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3 md:grid-cols-3">
                <div>
                    <h2 class="mb-4 text-sm font-semibold text-gray-900 uppercase dark:text-white">Useful Links</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium space-y-2">
                        <li>
                            <a  class="hover:underline" (click)="gotoAboutSection()"><i
                                    class="fa-solid fa-angles-right fa-xs mr-2 text-blue-500"></i> About Us</a>
                        </li>
                        <li>
                            <a (click)="gotoContectusSection()" class="hover:underline"><i
                                    class="fa-solid fa-angles-right fa-xs mr-2 text-blue-500"></i> Contact Us</a>
                        </li>
                        <li>
                            <a (click)="gotoCustomerReviewSection()" class="hover:underline"><i
                                    class="fa-solid fa-angles-right fa-xs mr-2 text-blue-500"></i> Customer Review</a>
                        </li>
                        <li>
                            <a href="https://tailwindcss.com/" class="hover:underline"><i
                                    class="fa-solid fa-angles-right fa-xs mr-2 text-blue-500"></i> How to Reach</a>
                        </li>
                        <li>
                            <a href="https://tailwindcss.com/" class="hover:underline"><i
                                    class="fa-solid fa-angles-right fa-xs mr-2 text-blue-500"></i> FAQ</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-4 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium space-y-2">
                        <li>
                            <a routerLink="/privacypolicy" class="hover:underline"><i
                                    class="fa-solid fa-angles-right fa-xs mr-2 text-blue-500"></i> Privacy Policy</a>
                        </li>
                        <li>
                            <a routerLink="/termsandcondition" class="hover:underline"><i
                                    class="fa-solid fa-angles-right fa-xs mr-2 text-blue-500"></i> Terms &amp;
                                Conditions</a>
                        </li>
                        <li>
                            <a routerLink="/bookingandcancellationpolicy" class="hover:underline"><i
                                    class="fa-solid fa-angles-right fa-xs mr-2 text-blue-500"></i> Booking &amp;
                                Cancellation Policy</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-4 text-sm font-semibold text-gray-900 uppercase dark:text-white">Talk to Us</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium space-y-2">
                        <li>
                            <a href="#" class="hover:underline flex items-baseline"><i
                                    class="fa-solid fa-phone fa-xs mr-2 text-blue-500"></i> +91-7407363783 |
                                7602530248</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline flex items-baseline"><i
                                    class="fa-solid fa-envelope fa-xs mr-2 text-blue-500"></i>
                                nirveektoursntt@gmail.com</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline flex items-baseline"><i
                                    class="fa-solid fa-house fa-xs mr-2 text-blue-500"></i> Lower Burtuk, Gurung Gaon,
                                Helipad Road, Gangtok, Sikkim - 737101</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://flowbite.com/"
                    class="hover:underline">Elevate Web</a>. All Rights Reserved.
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <i class="fa-brands fa-facebook fa-lg"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <i class="fa-brands fa-instagram fa-lg"></i>
                    <span class="sr-only">Instagram</span>
                </a>
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <i class="fa-brands fa-whatsapp fa-lg"></i>
                    <span class="sr-only">Whatsapp</span>
                </a>
                <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <i class="fa-solid fa-store fa-lg"></i>
                    <span class="sr-only">Google My Business</span>
                </a>
            </div>
        </div>
    </div>
</footer>