<section class="section bg-gray-100 dark:bg-gray-900 py-32">
  <div class="w-full mx-auto text-center">

    <h1 class="section-title text-4xl md:text-5xl lg:text-6xl font-extrabold mb-16 text-center">
      Why Choose Us?
    </h1>

    <div class="shadow-2xl rounded-3xl p-8 bg-green-50">
      <p class="text-lg md:text-xl lg:text-2xl leading-relaxed text-gray-700 dark:text-gray-300 mb-12 mx-4 md:mx-auto">
        Experience the Nirveek Tours & Travels difference. Our commitment to excellence sets us apart, ensuring your
        journey is not just a trip, but an unforgettable adventure. Choose us for:
      </p>

      <ul class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8 mx-4 md:mx-auto text-left">
        <li class="flex items-center shadowAll px-2 shadow-top-right rounded-lg">
          <div class="mr-4 flex-shrink-0">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-800 dark:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
            </svg> -->
            <i class="fa-solid fa-person-military-pointing text-6xl text-primary-color"></i>
          </div>
          <div class="p-4">
            <h2 class="text-xl lg:text-2xl font-semibold text-primary-color dark:text-white mb-2">Expert Guidance</h2>
            <p class="text-base lg:text-lg text-gray-700 dark:text-gray-300">Benefit from the expertise of our dedicated
              travel professionals who are committed to ensuring your journey is smooth and memorable.</p>
          </div>
        </li>
        <li class="flex items-center shadowAll px-2 rounded-lg">
          <div class="mr-4 flex-shrink-0">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-800 dark:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
            </svg> -->
            <i class="fa-solid fa-route text-6xl text-primary-color"></i>
          </div>
          <div class="p-4">
            <h2 class="text-xl lg:text-2xl font-semibold text-primary-color dark:text-white mb-2">Tailored Itineraries
            </h2>
            <p class="text-base lg:text-lg text-gray-700 dark:text-gray-300">Enjoy a personalized travel experience with
              itineraries designed to match your unique preferences and budget.</p>
          </div>
        </li>
        <li class="flex items-center shadowAll px-2 rounded-lg">
          <div class="mr-4 flex-shrink-0">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-800 dark:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
            </svg> -->
            <i class="fa-solid fa-medal text-6xl text-primary-color"></i>
          </div>
          <div class="p-4">
            <h2 class="text-xl lg:text-2xl font-semibold text-primary-color dark:text-white mb-2">Quality Accommodation
            </h2>
            <p class="text-base lg:text-lg text-gray-700 dark:text-gray-300">Stay in comfort and style with our
              carefully selected range of hotels and resorts.</p>
          </div>
        </li>
        <li class="flex items-center shadowAll px-2 rounded-lg">
          <div class="mr-4 flex-shrink-0">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-800 dark:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
            </svg> -->
            <i class="fa-solid fa-id-card text-6xl text-primary-color"></i>
          </div>
          <div class="p-4">
            <h2 class="text-xl lg:text-2xl font-semibold text-primary-color dark:text-white mb-2">Licensed & Certified
            </h2>
            <p class="text-base lg:text-lg text-gray-700 dark:text-gray-300">Travel with confidence knowing that Demo
              Tours & Travels is a licensed and certified travel agency, officially registered under Govt. of Sikkim,
              ensuring compliance with industry standards and regulations.</p>
          </div>
        </li>
        <li class="flex items-center shadowAll px-2 rounded-lg">
          <div class="mr-4 flex-shrink-0">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-800 dark:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
            </svg> -->
            <i class="fa-solid fa-handshake text-6xl text-primary-color"></i>
          </div>
          <div class="p-4">
            <h2 class="text-xl lg:text-2xl font-semibold text-primary-color dark:text-white mb-2">24/7 Support</h2>
            <p class="text-base lg:text-lg text-gray-700 dark:text-gray-300">Access round-the-clock assistance from our
              customer support team, ensuring peace of mind throughout your journey.</p>
          </div>
        </li>
        <li class="flex items-center shadowAll px-2 rounded-lg">
          <div class="mr-4 flex-shrink-0">
            <i class="fa-solid fa-mountain-city text-6xl text-primary-color"></i>
          </div>
          <div class="p-4">
            <h2 class="text-xl lg:text-2xl font-semibold text-primary-color dark:text-white mb-2">Exclusive Access &
              Experiences</h2>
            <p class="text-base lg:text-lg text-gray-700 dark:text-gray-300">
              Unlock exclusive access to attractions and unique experiences, ensuring your journey is filled with
              unforgettable moments curated just for you by Demo Tours & Travels.</p>
          </div>
        </li>

      </ul>
    </div>

  </div>
</section>