<section class="section bg-green-100 py-10">
  <div class="mx-auto flex flex-col md:flex-row gap-2 md:gap-6 my-12">
    <div class="w-full md:w-1/2 mb-4 md:mb-0">
      <div class="bg-white rounded-lg shadow-lg overflow-hidden h-full">
        <iframe
          class="min-h-80"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3543.7364760305777!2d88.61314200000001!3d27.352706!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e6a505bbf6f69b%3A0xd394045bc4989bde!2sNirveek%20Tours%20%26%20Travels!5e0!3m2!1sen!2sus!4v1710929650940!5m2!1sen!2sus"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
    <div class="w-full md:w-1/2">
      <div
        class="bg-white rounded-lg shadow-lg overflow-hidden p-8"
        style="height: 100%"
      >
        <h2 class="text-2xl font-bold mb-6">Contact Us</h2>
        <form [formGroup]="contactFormGroup" (ngSubmit)="sendEmail()">
          <div class="mb-4">
            <input
              type="text"
              class="py-3 px-4 w-full rounded-lg focus:outline-none focus:border-green-500 border-2 focus:ring-0"
              placeholder="Your Name"
              name="name"
              id="name"
              formControlName="name"
              [ngClass]="{
                'error-border':
                  contactFormGroup.get('name')?.invalid &&
                  contactFormGroup.get('name')?.touched,
                'focus:border-gray-500':
                  contactFormGroup.get('name')?.invalid &&
                  contactFormGroup.get('name')?.touched
              }"
            />
            <div
              class="text-red-500 pt-1"
              *ngIf="
                contactFormGroup.get('name')?.touched &&
                (contactFormGroup.get('name')?.hasError('required') ||
                  contactFormGroup.get('name')?.hasError('whitespace'))
              "
            >
              <small>Name cannot be empty or contain only whitespace</small>
            </div>
          </div>
          <div class="mb-4">
            <select
              id="subject"
              class="py-3 px-4 w-full rounded-lg focus:outline-none focus:border-green-500 border-2 focus:ring-0"
              [ngClass]="{
                'error-border':
                  contactFormGroup.get('subject')?.invalid &&
                  contactFormGroup.get('subject')?.touched,
                'focus:border-gray-500':
                  contactFormGroup.get('subject')?.invalid &&
                  contactFormGroup.get('subject')?.touched
              }"
              formControlName="subject"
            >
              <option disabled selected hidden [value]="0">
                Select subject
              </option>
              <option value="Enquiry">Enquiry</option>
              <option value="Feedback">Feedback</option>
              <option value="Complaint">Complaint</option>
              <option value="Other">Other</option>
            </select>
            <div
              class="text-red-500 pt-1"
              *ngIf="
                contactFormGroup.get('subject')?.hasError('SelectValue') &&
                contactFormGroup.get('subject')?.touched
              "
            >
              <small>Please select a subject</small>
            </div>
          </div>
          <div class="mb-4">
            <input
              type="email"
              class="py-3 px-4 w-full rounded-lg focus:outline-none focus:border-green-500 border-2 focus:ring-0"
              placeholder="Your Email Address"
              name="email"
              id="email"
              formControlName="email"
              [ngClass]="{
                'error-border':
                  contactFormGroup.get('email')?.invalid &&
                  contactFormGroup.get('email')?.touched,
                'focus:border-gray-500':
                  contactFormGroup.get('email')?.invalid &&
                  contactFormGroup.get('email')?.touched
              }"
            />
            <div
              class="text-red-500 pt-1"
              *ngIf="
                contactFormGroup.get('email')?.touched &&
                contactFormGroup.get('email')?.hasError('email')
              "
            >
              <small>Invalid email format</small>
            </div>
            <div
              class="text-red-500 pt-1"
              *ngIf="
                contactFormGroup.get('email')?.touched &&
                (contactFormGroup.get('email')?.hasError('required') ||
                  contactFormGroup.get('email')?.hasError('whitespace'))
              "
            >
              <small>Email cannot be empty or contain only whitespace</small>
            </div>
          </div>
          <div class="mb-4">
            <textarea
              class="py-3 px-4 w-full rounded-lg focus:outline-none focus:border-green-500 border-2 focus:ring-0"
              placeholder="Your Message"
              rows="4"
              name="message"
              id="message"
              formControlName="message"
              [ngClass]="{
                'error-border':
                  contactFormGroup.get('message')?.invalid &&
                  contactFormGroup.get('message')?.touched,
                'focus:border-gray-500':
                  contactFormGroup.get('message')?.invalid &&
                  contactFormGroup.get('message')?.touched
              }"
            >
            </textarea>
            <div
              class="text-red-500 pt-1"
              *ngIf="
                contactFormGroup.get('message')?.touched &&
                (contactFormGroup.get('message')?.hasError('required') ||
                  contactFormGroup.get('message')?.hasError('whitespace'))
              "
            >
              <small>Message cannot be empty or contain only whitespace</small>
            </div>
          </div>

          <div class="flex flex-col items-end gap-2">
            <span
              class="italic text-gray-400 text-sm"
              [class.hidden]="contactFormGroup.valid"
              >Fill all the required fields to enable button</span
            >
            <button
              type="submit"
              class="bg-primary-color text-white py-3 px-8 rounded-lg hover:bg-primary-hover-color focus:outline-none text-sm float-right disabled:cursor-not-allowed disabled:bg-primary-hover-color"
              [disabled]="contactFormGroup.invalid"
            >
              Send Message
            </button>
          </div>
        </form>
        <!-- Loader -->
        <div
          class="fixed inset-0 flex items-center justify-center bg-gray-700 bg-opacity-50 z-50"
          *ngIf="loading"
        >
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</section>
