.packageDescription {
    max-height: 7rem; /* Adjust this height as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show before truncating */
    -webkit-box-orient: vertical;
}