
  .item p {
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to show before truncating */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }