<section class="section bg-gray-100 py-10">
  <div class="w-full mx-auto text-center my-8">
    <div class="section-title-container text-center">
      <h1
        class="section-title text-4xl md:text-5xl lg:text-6xl font-extrabold text-gray-800 dark:text-white mb-8"
      >
        Service Categories
      </h1>
    </div>
    <div class="flex justify-center text-black">
      <div
        class="flex flex-col md:flex-row border-t md:border-t-0 border-b md:border-b-0 border-gray-300 bg-white rounded-lg overflow-hidden shadow-lg w-full p-6"
      >
        <div
          class="flex-1 p-6 border-b md:border-b-0 md:border-r border-gray-300 flex justify-center"
        >
          <div>
            <h2
              class="text-xl lg:text-2xl font-semibold text-gray-800 dark:text-white mb-4"
            >
              Cab Types
            </h2>
            <ul class="list-disc pl-5">
              <li>Luxury Cab</li>
              <li>Maxi Cab</li>
              <li>Small Cab</li>
            </ul>
          </div>
        </div>
        <div class="flex-1 p-6 flex justify-center">
          <div>
            <h2
              class="text-xl lg:text-2xl font-semibold text-gray-800 dark:text-white mb-4"
            >
              Hotel Types
            </h2>
            <ul class="list-disc pl-5">
              <li>3 Stars</li>
              <li>2 Stars</li>
              <li>Decent Property</li>
              <li>Homestay</li>
              <li>Villa</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
