<section class="pt-3 px-8 md:px-16 lg:px-32 mt-8">
  <h1 class="text-4xl font-semibold my-8">Terms and Conditions</h1>
  <p class="text-sm font-mono">Last updated: March 1, 2024</p>
  <p class="text-sm my-4">Please read these terms and conditions carefully before using Our Service.</p>
  <ol class="mt-6 space-y-8">
    <li>
      <p>
        <span class="font-semibold">1. Reservation Rights:</span> The organizers reserve the right to cancel, postpone,
        change, or delay the tour without prior notice.
      </p>
    </li>
    <li>
      <p>
        <span class="font-semibold">2. Ticket Alterations and Cancellations:</span> No alterations or cancellations are
        allowed once tickets are sold.
      </p>
    </li>
    <li>
      <p>
        <span class="font-semibold">3. Liability:</span> The tour and travel company is not liable for any loss,
        theft,
        mishaps, injury, or accidents that may occur during the trip.
      </p>
    </li>
    <li>
      <p><span class="font-semibold">4. Non-refundable Fee:</span> The tour fee is non-refundable once paid in advance,
        regardless of whether the tour is completed by the client, due to reasons such as sickness or natural
        calamities.
      </p>
    </li>
    <li>
      <p>
        <span class="font-semibold">5. Jurisdiction:</span> This ticket is issued subject to the jurisdiction of
        Sikkim.
      </p>
    </li>
  </ol>

</section>