<div class="EnquiryBar text-center flex flex-col md:flex-row flex-wrap justify-center items-center p-6 md:p-8 w-4/5 gap-4 mx-auto 
  bg-gradient-to-br from-green-400 to-green-600 rounded-lg shadow-md my-8">
  <div class="Name w-full max-w-80 m-0">
    <input type="text" class="border rounded w-full" placeholder="Your Name" />
  </div>
  <div class="Email w-full max-w-80 m-0">
    <input type="email" class="border rounded w-full" placeholder="Email Id" />
  </div>
  <div class="Mobile w-full max-w-80 m-0">
    <input type="tel" class="border rounded w-full" placeholder="Mobile Number" />
  </div>
  <div class="EnquiryBtnWrapper w-full max-w-80 m-0">
    <button class="border px-2 py-2 bg-transparent text-white border-white w-full max-w-80 rounded-md">
      Get a Free Quote
    </button>
  </div>
</div>