<section class="section py-32">
  <div class="section-title-container text-center">
    <h1
      class="mb-16 text-center section-title text-4xl md:text-5xl lg:text-6xl font-extrabold text-gray-800 dark:text-white tracking-tight">
      How to Reach Sikkim
    </h1>
  </div>

  <div class="contentSection">
    <div class="byAir">
      <h4 class="font-semibold mt-8 mb-6 text-xl">How To Reach Sikkim By Air</h4>
      <p class="leading-6">
        The nearest airport to Sikkim is Pakyong Airport, located 31 kilometers south of Gangtok. It is a Greenfield
        airport spread over 201 acres and stands at an elevation of 4590 feet, making it one of the five highest
        airports in India. Inaugurated on September 24, 2018, commercial flight operations commenced on October 4, 2018.
        While Pakyong Airport serves domestic flights, it does not currently host any international flights.
      </p><br>
      <p>
        For international guests, the nearest airport is Bagdogra Airport (IXB) in West Bengal, approximately 124
        kilometers away from Gangtok. Bagdogra Airport is well-connected to major cities like Delhi, Kolkata, Mumbai,
        and Bengaluru. From Bagdogra Airport, guests can hire a taxi or take a bus to reach Sikkim.
      </p><br>
      <p>There is also a helicopter service available between Bagdogra and Gangtok, which takes 35 minutes one way.</p>
    </div>

    <div class="byRail">
      <h4 class="font-semibold mt-10 mb-6 text-xl">How To Reach Sikkim By Railways</h4>
      <p class="leading-6">
        The nearest major railway station to Sikkim is New Jalpaiguri Railway Station (NJP) in Siliguri, West Bengal,
        which is approximately 148 kilometers away from Gangtok. NJP is well-connected to major cities across India like
        Delhi, Kolkata, Mumbai, and Chennai. From NJP, guests can hire a taxi or take a bus to reach Sikkim.
      </p>
    </div>
    <div class="byRoad">
      <h4 class="font-semibold mt-10 mb-6 text-xl">How To Reach Sikkim By Road</h4>
      <p class="leading-6">
        <span class="font-bold">Bus:</span> Sikkim is easily accessible by bus, with the Sikkim government operating
        fixed-rate buses through the
        Sikkim Nationalized Transport (SNT) from its bus terminal at Siliguri, plying between Siliguri and Gangtok.
        There are also buses available from New Jalpaiguri (NJP) to Gangtok. Many tourists opt to travel by train and
        alight at New Jalpaiguri to reach Gangtok, which is 124 km away. The road routes from Bagdogra, New Jalpaiguri,
        and Siliguri all converge at Sevoke Road, leading to National Highway NH10. This scenic route passes through the
        Teesta area, offering views of the beautiful River Teesta flowing alongside.
      </p><br>
      <p class="leading-6">
        <span class="font-bold">Taxi:</span> Private taxis are readily available from both Bagdogra Airport and New
        Jalpaiguri Junction railway station, with various vehicle options such as Tata Sumo, Mahindra Bolero, and Toyota
        Innova. However, trustworthy and comfortable taxi providers in Sikkim are limited. Prepaid taxi counters are
        available at Bagdogra airport (next to the arrival hall exit) and New Jalpaiguri station (opposite the station
        entrance) with fixed rates. It is advisable to opt for a Sikkim registered taxi from Bagdogra or New Jalpaiguri,
        as taxis with West Bengal registration drop passengers at Deorali Taxi stand near Gangtok, which is 2 km below
        the town center. Due to restrictions in Gangtok for non-state vehicles, passengers will need to take a local
        taxi from Deorali to reach the main town, incurring an additional cost of Rs 200/- to Rs 300/-.
      </p><br>
      <p class="leading-6">
        <span class="font-bold">Shared Jeeps:</span> Shared jeeps typically accommodate around 10 passengers on a
        per-person rate, with luggage placed on the roof. During the monsoon season, the luggage is usually covered with
        a plastic sheet. Passengers can reserve more than one seat to make the ride more comfortable.
      </p>
    </div>

  </div>

</section>