<section class="px-4 md:px-16 lg:px-32 pt-10">
  <div class="grid lg:grid-cols-3 lg:gap-4 lg:justify-items-end">
    <div class="itinerary-details lg:col-span-2 w-full">

      <h2 class="text-2xl font-semibold">Package Name</h2>

      <div class="packageOverviewDetails grid grid-cols-3 my-3">
        <p class="font-semibold text-gray-700 text-xs">Duration <span class="text-blue-500">{{currentItenary.duration}}</span></p>
        <p class="font-semibold text-gray-700 text-xs">Location <span class="text-blue-500">{{currentItenary.destinationTitle}}</span>
        </p>
        <p class="font-semibold text-gray-700 text-xs">Rating <span class="text-blue-500">Stars</span></p>
      </div>



      <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab"
          data-tabs-toggle="#default-styled-tab-content"
          data-tabs-active-classes="text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500"
          data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300"
          role="tablist">
          <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg" id="overview" data-tabs-target="#styled-overview"
              type="button" role="tab" aria-controls="overview" aria-selected="false">Overview</button>
          </li>
          <li class="me-2" role="presentation">
            <button
              class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
              id="itinerary-styled-tab" data-tabs-target="#styled-itinerary" type="button" role="tab"
              aria-controls="itinerary" aria-selected="false">Tour Itinerary</button>
          </li>
          <li class="me-2" role="presentation">
            <button
              class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
              id="inclusion-styled-tab" data-tabs-target="#styled-inclusion" type="button" role="tab"
              aria-controls="inclusion" aria-selected="false">Inclusion</button>
          </li>
          <li class="me-2" role="presentation">
            <button
              class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
              id="exclusion-styled-tab" data-tabs-target="#styled-exclusion" type="button" role="tab"
              aria-controls="exclusion" aria-selected="false">Exclusion</button>
          </li>
          <li role="presentation">
            <button
              class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
              id="policy-styled-tab" data-tabs-target="#styled-policy" type="button" role="tab" aria-controls="policy"
              aria-selected="false">Policy</button>
          </li>
        </ul>
      </div>

      <div id="default-styled-tab-content">

        <div class=" p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-overview" role="tabpanel"
          aria-labelledby="overview-tab">
          <img src={{currentItenary.destinationImage}} alt="img" loading="lazy" class="mb-4">
          <strong class="font-medium text-gray-800 dark:text-white">{{currentItenary.destinationTitle}}</strong>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            {{currentItenary.destinationDescription}}
          </p>
        </div>

        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-itinerary" role="tabpanel"
          aria-labelledby="itinerary-tab">
          <ol class="relative border-s border-gray-200 dark:border-gray-700">
            <li class="mb-10 ms-6" *ngFor="let item of touritinerary;let i = index">
              <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-location-dot"></i>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">
                <span class="text-blue-600">Day {{i+1}}</span> - {{item.day}}
              </h3>
              <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">{{item.description}}</p>
            </li>
            <!-- <li class="mb-10 ms-6">
              <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-location-dot"></i>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">
                <span class="text-blue-600">Day 2</span> - Arrival Kathmandu & transfer to Pokhra
              </h3>
              <p class="text-base font-normal text-gray-500 dark:text-gray-400">All of the pages and components are
                first designed in Figma and we keep a parity between the two versions even as we update the project.</p>
            </li>
            <li class="ms-6">
              <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <i class="fa-solid fa-location-dot"></i>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">
                <span class="text-blue-600">Day 3</span> - Arrival Kathmandu & transfer to Pokhra
              </h3>
              <p class="text-base font-normal text-gray-500 dark:text-gray-400">Get started with dozens of web
                components and interactive elements built on top of Tailwind CSS.</p>
            </li> -->
          </ol>
        </div>

        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-inclusion" role="tabpanel"
          aria-labelledby="inclusion-tab">
          <p class="text-sm text-gray-500 dark:text-gray-400">Package Includes</p>
          <ul class="inclusionBullets my-8 space-y-6">
            <li class="flex items-center gap-6" *ngFor="let item of currentItenary.including"> 
              <i class="fa fa-check-double fa-sm"></i>
              <span>{{item}}</span>
            </li>
            <!-- <li class="flex items-center gap-6">
              <i class="fa fa-check-double fa-sm"></i>
              <span>Accommodation as per itinerary.</span>
            </li>
            <li class="flex items-center gap-6">
              <i class="fa fa-check-double fa-sm"></i>
              <span>All transfers & sight seeings as per itinerary.</span>
            </li>
            <li class="flex items-center gap-6">
              <i class="fa fa-check-double fa-sm"></i>
              <span>Driver Allowance, toll, parking fee, Night halt charges, inter- state permit.</span>
            </li>
            <li class="flex items-center gap-6">
              <i class="fa fa-check-double fa-sm"></i>
              <span>A dedicated Tour Coordinator for the entire trip.</span>
            </li> -->
          </ul>
        </div>

        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-exclusion" role="tabpanel"
          aria-labelledby="exclusion-tab">
          <p class="text-sm text-gray-500 dark:text-gray-400">Package Excludes</p>
          <ul class="exclusionBullets my-8 space-y-6">
            <li class="flex items-center gap-6" *ngFor="let item of currentItenary.exclusion">
              <i class="fa-solid fa-xmark fa-sm"></i>
              <span>{{item}}</span>
            </li>
            <!-- <li class="flex items-center gap-6">
              <i class="fa-solid fa-xmark fa-sm"></i>
              <span>Any other services or meals which are not mentioned in the above “Includes” section.</span>
            </li>
            <li class="flex items-center gap-6">
              <i class="fa-solid fa-xmark fa-sm"></i>
              <span>Expense of personal nature such as tips, laundry, telephones, beverages etc</span>
            </li>
            <li class="flex items-center gap-6">
              <i class="fa-solid fa-xmark fa-sm"></i>
              <span>Entry fee for all monuments and places of interest if any</span>
            </li>
            <li class="flex items-center gap-6">
              <i class="fa-solid fa-xmark fa-sm"></i>
              <span>Airfares and Train ticket charges if any</span>
            </li>
            <li class="flex items-center gap-6">
              <i class="fa-solid fa-xmark fa-sm"></i>
              <span>Any other items not mentioned in ‘Cost Includes’</span>
            </li> -->
          </ul>
        </div>

        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-policy" role="tabpanel"
          aria-labelledby="policy-tab">
          <p class="text-sm text-gray-500 dark:text-gray-400">Terms & Conditions</p>
          <div class="conditions my-8">
            <p class="font-semibold">Payment Terms & Methods :</p>
            <p>50% Advance Percentage of total booking amount</p>
          </div>
          <div class="conditions">
            <p class="font-semibold">Cancellation & Refund Policy :</p>
            <p>Upon cancellation, refund will be made after deducting the Retention Amount.
              Retention Amount varies as per the number of days left before your package start date.
              Refund will be made within 15 working days from the date of receipt of the cancellation.</p>
          </div>
          <div class="conditions my-8">
            <p class="font-semibold">Payment Terms & Methods :</p>
            <p>50% Advance Percentage of total booking amount</p>
          </div>
          <div class="conditions my-8">
            <p class="font-semibold">Other Terms & Conditions :</p>
            <p><span class="font-semibold text-sm">TERMS & CONDITION :</span> Asian Holidays reserves the right to
              re-arrange itinerary to
              Suit hotel availability without changing the total number of days in each destination and without
              compromising any services.
              The vehicle used is AC/NAC and is available for point to point services only and is not at disposal.
              Clients are requested to follow the itinerary.
             <br> <span class="font-semibold text-sm">PAYMENT TERMS :</span> 50 % at the time of booking and balance 7 days
              prior travel
              date. All bookings are on special corporate non-refundable
              basis.
             <br> <span class="font-semibold text-sm">CONFIRMATION & RATE :</span> No bookings are guaranteed without
              advance payment and
              Rates are subject to availability.
             <br> <span class="font-semibold text-sm">INFORMATION NEEDED :</span> Accurate Arrival and Departure timing to
              be
              informed in
              advance.
              <br>
              <span>For More details log-in to : website.domain <br>
                You can call at : +91 7407363783 / 7602530248 <br>
                Email your query at : nirveektoursntt@gmail.com <br>
              </span>
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="contactDetails space-y-6 mt-8 lg:mt-0">

      <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800
         dark:border-gray-700 dark:hover:bg-gray-700 text-center">
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 dark:text-white uppercase">Enquire about the
          package</h5>
        <a href="#">
          <button type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-md 
          text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-full">
            Enquire Now <i class="ms-1 fa-brands fa-whatsapp fa-lg"></i>
          </button>
        </a>
      </div>

      <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800
         dark:border-gray-700 dark:hover:bg-gray-700 text-center">
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 dark:text-white uppercase">Have a question?
        </h5>
        <div class="flex items-center justify-center mb-2">
          <div class="callIcon">
            <i class="fa-solid fa-phone text-blue-700 fa-2xl"></i>
          </div>
          <div class="contactParagraph">
            <p class="text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
              acquisitions</p>
          </div>
        </div>
        <p class="text-lg font-semibold tracking-tight text-gray-900 dark:text-white">+91 - 7407363783</p>
      </div>

    </div>

  </div>
</section>