<section class="pt-3 px-8 md:px-16 lg:px-32">
  <h1 class="text-4xl font-semibold my-8">Privacy Policy</h1>
  <p class="text-sm font-mono">Last updated: March 1, 2024</p>
  <p class="text-sm my-4">Your privacy is important to us. It is Nirveek Tours & Travels's policy to respect your
    privacy regarding any information we may collect from you across our website, nirveektravels.com.</p>
  <p class="font-semibold mt-6 mb-1">Information we collect:</p>
  <ol>
    <li>
      <p>
        We may collect personal information such as your name, email address, phone number, and payment information when
        you book a trip or subscribe to our newsletter.
      </p>
    </li>
    <li>
      <p>
        We may also collect non-personal information such as browser type, language preference, referring site, and the
        date and time of each visitor request.
      </p>
    </li>
  </ol>
  <p class="font-semibold mt-8 mb-1">How we use your information:</p>
  <ol>
    <li>
      <p>
        We may use the information we collect for various purposes, including to provide and maintain our services,
        notify you about changes to our services, and improve our services.
      </p>
    </li>
    <li>
      <p>
        We may also use your information to communicate with you, including sending you promotional information about
        our services or special offers.
      </p>
    </li>
  </ol>
  <p class="font-semibold mt-8 mb-1">Cookies:</p>
  <ol>
    <li>
      <p>
        We use cookies to collect information about your browsing behavior and preferences. You can choose to disable
        cookies through your browser settings, but this may affect your ability to access or use certain parts of our
        website.
      </p>
    </li>
  </ol>
  <p class="font-semibold mt-8 mb-1">Third-party services:</p>
  <ol>
    <li>
      <p>
        We may use third-party services, such as Google Analytics, to help us analyze how our website is used and
        improve our services. These third-party services may collect information about your use of our website and other
        websites.
      </p>
    </li>
  </ol>
  <p class="font-semibold mt-8 mb-1">Data retention:</p>
  <ol>
    <li>
      <p>
        We will retain your personal information only for as long as is necessary for the purposes set out in this
        privacy policy.
      </p>
    </li>
  </ol>
  <p class="font-semibold mt-8 mb-1">Security:</p>
  <ol>
    <li>
      <p>
        We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure.
        However, no method of transmission over the internet or electronic storage is 100% secure, and we cannot
        guarantee its absolute security.
      </p>
    </li>
  </ol>
  <p class="font-semibold mt-8 mb-1">Changes to this privacy policy:</p>
  <ol>
    <li>
      <p>
        We may update our privacy policy from time to time. We will notify you of any changes by posting the new privacy
        policy on this page.
      </p>
    </li>
  </ol>
  <p class="font-semibold mt-8 mb-1">Contact us:</p>
  <ol>
    <li>
      <p>
        If you have any questions about this privacy policy, please contact us at +91-7407363783/7602530248.
      </p>
    </li>
  </ol>
  <p class="my-10 font-mono">By using our website, you hereby consent to our privacy policy and agree to its terms.</p>
</section>