/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Style for ngx-toastr */
@import 'ngx-toastr/toastr';

h1.section-title {
    position: relative;
    display: inline-block;
    z-index: 0;
  }
  
  h1.section-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    opacity: .8;
    left: 0;
    width: 100%;
    height: 30px; /* Adjust this value to change the thickness of the paint stroke */
    background-image: url('./assets/images/shadoweffect.png'); /* Replace 'path_to_your_paint_stroke_image' with the path to your image */
    background-size: cover;
    background-repeat: repeat-x;
    filter:invert(78%) sepia(7%) saturate(314%) hue-rotate(177deg) brightness(112%) contrast(91%);
    z-index: -1;

  }

  .section{
    @apply px-8 md:px-16 lg:px-32;
  }