
.owl-carousel .item{
    max-height: 26rem;
    max-width: 20rem;
    margin: auto;
}
.owl-carousel .item > div:first-child{
    margin: auto;
    height: 100%;
}

.packageDescription {
    max-height: 7rem; /* Adjust this height as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show before truncating */
    -webkit-box-orient: vertical;
}

  