
.owl-carousel .item{
    /* height: 26rem; */
    max-height: 26rem;
    max-width: 20rem;
    margin: auto;
}
.owl-carousel .item > div:first-child{
    margin: auto;
    height: 100%;
}

.packageDescription {
    max-height: 7rem; /* Adjust this height as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show before truncating */
    -webkit-box-orient: vertical;
}

.main-content {
    position: relative;
        .custom-nav {
            position: absolute;
            top: 20%;
            left: 0;
            right: 0;

            .owl-prev, .owl-next {
                position: absolute;
                height: 100px;
                color: inherit;
                background: none;
                border: none;
                z-index: 100;

                i {
                    font-size: 2.5rem;
                    color: #0E9F6E;
                }
            }

            .owl-prev {
                left: -40px;
            }

            .owl-next {
                right: -40px;
            }
        }
}