<app-home-carousel></app-home-carousel>

<app-enquiry-bar></app-enquiry-bar>

<app-reviews></app-reviews>

<app-about-us></app-about-us>
<!-- <app-terms-and-conditions></app-terms-and-conditions>
<app-booking-and-cancellation-policy></app-booking-and-cancellation-policy>
<app-privacy-policy></app-privacy-policy> -->

<app-featured-destination></app-featured-destination>

<app-why-choose-us></app-why-choose-us>

<app-popular-destination></app-popular-destination>

<app-contact-form></app-contact-form>